[user]
    name = Lucian Poston
    email = lucianposton@pm.me
    signingKey = 3C1A5AD9A4F5AC18
[sendemail]
    smtpencryption = tls
    smtpserver = 127.0.0.1
    smtpuser = lucianposton@pm.me
    smtpserverport = 52056
    smtpsslcertpath = "~/.mutt_certificates"
[color]
    ui = auto
[alias]
    start = !git init && git commit --allow-empty -m \"Empty initial commit\"
    exec = "!exec "
    topexec = "!f() { GIT_TOP=\"${GIT_DIR%%/.git/modules/*}\"; [ \".$GIT_TOP\" != \".$GIT_DIR\" ] && cd \"$GIT_TOP\"; exec \"$@\"; }; f"
    s = status
    st = status
    co = checkout
    c = commit
    b = branch
    br = branch
    a = add
    aa = add --all
    amend = commit --amend
    d = diff
    dc = diff --cached
    ds = diff --stat
    dw = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
    dcw = diff --cached --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
    m = merge
    mff = merge --ff-only
    mnoff = merge --no-ff
    mb = merge-base
    p = push
    pf = push -f
    pff = pull --ff-only
    f = fetch
    fa = fetch --all
    sh = show --format=fuller --decorate -p --stat
    shw = show --format=fuller --decorate -p --stat --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
    pupr = pup --remote

    # h = head
    # hp = head with patch
    # r = recent commits, only current branch
    # ra = recent commits, all reachable refs
    # l = all commits, only current branch
    # la = all commits, all reachable refs
    l = "!. ~/bin/.git-helpers && pretty_tabulated_git_log"
    la = !git l --all
    r = !git l -25
    ra = !git r --all
    ld = "!. ~/bin/.git-helpers && date_git_log"
    lda = !git ld --all
    h = !git l -1
    hp = "!. ~/bin/.git-helpers && show_git_head"
    lol = "!. ~/bin/.git-helpers && pretty_git_log"
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order

    wipe = "!git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard"
    fetch-pr = "!f() { \
        [ -z \"$1\" ] && { echo Usage: git fetch-pr PULL_REQUEST_ID [REMOTE_NAME] [NEW_BRANCH_NAME]; exit 1; }; \
        remote=${2:-origin}; \
        branch=${3:-pr-$1}; \
        git fetch $remote \"pull/$1/head:$branch\"; \
        }; f"
    pr = "!f() { \
        branch=${3:-pr-$1}; \
        git fetch-pr \"$@\" && \
        git checkout $branch; \
        }; f"
    bclean = "!f() { \
        git checkout ${1-master} && \
        git branch --merged ${1-master} | grep -v \"${1-master}$\" | xargs git branch -d; \
        }; f"
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    pager = less -FXRMui --tabs=4
[pager]
    diff = diff-highlight | less -FXRMui --tabs=4 #--pattern '^diff'
    show = diff-highlight | less -FXRMui --tabs=4 #--pattern '^diff'
    log = diff-highlight | less -FXRMui --tabs=4
[color "diff-highlight"]
    oldNormal = red
    oldHighlight = bold red 52
    newNormal = green
    newHighlight = bold green 22
[rerere]
    enabled = true
[merge]
    conflictstyle = diff3
    tool = vimdiff
    log = 100
[push]
    default = simple
    gpgSign = if-asked
[commit]
    gpgSign = true
[diff]
    algorithm = histogram
    wsErrorHighlight = new,old#,context
[diff "xxd"]
    textconv = xxd  # then *.sav diff=xxd in .gitattributes
[diff "hexdump"]
    textconv = hexdump -v -C
[diff "hexdump-1pl"]
    textconv = hexdump -v -e '1/1 \"%02x \"' -e '1/1 \"%_p\" \"\n\"'
[diff "cmp"]
    command = git-cmp-diff-wrapper.sh
[diff "zip"]
    textconv = unzip -v
[diff "pdf"]
    textconv = pdfinfo
[github]
    user = lucianposton
[amazon]
    append-cr-url = true
    pull-request-by-default = true
[include]
    path = dotfiles_local/.gitconfig
