[submodule "submodules/selecta"]
	path = setup/submodules/selecta
	url = https://github.com/garybernhardt/selecta.git
	branch = master
[submodule "submodules/powerline"]
	path = setup/submodules/powerline
	url = https://github.com/Lokaltog/powerline.git
	branch = develop
[submodule "setup/submodules/act.vim"]
	path = setup/submodules/act.vim
	url = https://github.com/mileszs/ack.vim.git
