[submodule "submodules/selecta"]
	path = submodules/selecta
	url = https://github.com/garybernhardt/selecta.git
	branch = master
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = https://github.com/Lokaltog/powerline.git
	branch = develop
