[submodule "submodules/selecta"]
	path = setup/submodules/selecta
	url = https://github.com/garybernhardt/selecta.git
	branch = master
[submodule "submodules/powerline"]
	path = setup/submodules/powerline
	url = https://github.com/Lokaltog/powerline.git
	branch = develop
[submodule "setup/submodules/gdbinit"]
	path = setup/submodules/gdbinit
	url = https://github.com/gdbinit/Gdbinit.git
[submodule "setup/submodules/gdb-dashboard"]
	path = setup/submodules/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "setup/submodules/vim-cpp-enhanced-highlight"]
	path = setup/submodules/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "setup/submodules/minimal_gdb"]
	path = setup/submodules/minimal_gdb
	url = https://github.com/mechatroner/minimal_gdb.git
[submodule "setup/submodules/dotfiles_private"]
	path = setup/submodules/dotfiles_private
	url = git@gitlab.com:lucianposton/dotfiles_private.git
[submodule "setup/submodules/retroarch_systems"]
	path = setup/submodules/retroarch_systems
	url = git@gitlab.com:lucianposton/retroarch_systems.git
[submodule "setup/submodules/asyncrun.vim"]
	path = setup/submodules/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "setup/submodules/undotree"]
	path = setup/submodules/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "setup/submodules/vim-quickerfix"]
	path = setup/submodules/vim-quickerfix
	url = git@github.com:lucianposton/vim-quickerfix.git
