[user]
	name = Lucian Poston
	email = lucian.poston@gmail.com
[github]
	user = lucianposton
[color]
	ui = auto
[alias]
	lol = log --all --graph --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	st = status
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
