[user]
    name = Lucian Poston
    email = lucian.poston@gmail.com
[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = lucian.poston@gmail.com
    smtpserverport = 587
[github]
    user = lucianposton
[color]
    ui = auto
[alias]
    lol = log --all --graph --pretty=tformat:'%C(red)%h%Creset%C(bold black):%Creset %C(cyan)%cr%Creset %C(blue)<%an>%Creset%C(bold magenta)%d%Creset %C(white)%s%Creset'
    lod = log --all --graph --pretty=tformat:'%C(red)%h%Creset%C(bold black):%Creset %C(green)%cd%Creset %C(blue)<%an>%Creset%C(bold magenta)%d%Creset %C(white)%s%Creset'
    lor = log --all --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    st = status
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    pager = less -RFX
